:root {
  font-size: 14px;
  font-family: PingFangSC-Regular, 'Helvetica Neue', Tahoma, Arial, 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
  color: #333;

  /* smartphones, iPhone, portrait 480x320 phones */
  @media (min-width: 320px) {
    font-size: 12px;
  }

  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  @media (min-width: 481px) {
    font-size: 14px;
  }

  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  @media (min-width: 641px) {
    font-size: 18px;
  }

  /* tablet, landscape iPad, lo-res laptops ands desktops */
  @media (min-width: 961px) {
    font-size: 20px;
  }

  /* big landscape tablets, laptops, and desktops */ 
  @media (min-width: 1025px){
    font-size: 22px;
  }

  /* hi-res laptops and desktops */
  @media (min-width: 1281px) {
    font-size: 22px;
  }
}

html,
body,
ol,
ul,
dl,
dd {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style-type: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
}

input,
button,
textarea,
select {
  appearance: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

a {
  outline: none;
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
