:root {
  font-size: 14px;
  font-family: PingFangSC-Regular, 'Helvetica Neue', Tahoma, Arial, 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
  color: #333;

  /* small mobile (iPhone5) */
  @media (width <= 320px) {
    font-size: 12px;
  }

  /* middle mobile (iPhone6) */
  @media (width > 375px) {
    font-size: 16px;
  }

  /* large mobile (iPhone6 Plus) */
  @media (width > 425px) {
    font-size: 18px;
  }

  /* larger mobile */
  @media (width >= 667px) {
    font-size: 20px;
  }

  /* tablet */
  @media (width >= 768px) and (width < 1024px) {
    font-size: 24px;
  }

  @media (width >= 1280px){
    font-size: 24px;
  }
}

html,
body,
ol,
ul,
dl,
dd {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style-type: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: normal;
}

input,
button,
textarea,
select {
  appearance: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

a {
  outline: none;
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
